#Ignore compiled binary
*.out
*.cgi

#Ignore object files
*.o

#Ignore vim swap files
*.swp

#Only take what is neccesary from libraries.
lib/wolkykim-qdecoder-63888fc/doc
lib/wolkykim-qdecoder-63888fc/examples

#Ignore configuration files
headers/config.h
