@(title : String = "BGI", loggedIn : Boolean = true)(content: Html)(implicit flash : Flash)
<html>
	<head>
		<title>@title</title>
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/style.min.css")">
	</head>
	<body>
		<header>
			<h1>BGI</h1>
			@if(loggedIn) {
				@templates.partials.loggedInNav()
			} else {
				@templates.partials.loggedOutNav()
			}
		</header>
		<div>
			@content
		</div>
	@* We don't close the body here so that individual files can add scripts and etc *@
