<section>
	<p>Please Login and Enjoy the System.</p>

	<em>Your username or password is incorrect</em>
	<%- partial('_shared/login-form') %>

	<small>If you believe this is an error, contact the administrator</small>
</section>