<h2>Compare your Spending Trends</h2>
<p>
	After you've used BGI for a few weeks to tract your spending, this page will
	be able to show you an aggregate of information by week so that you can see
	how you're spending your money and what you can do about it.
</p>
<sub>Note that by week is not yet implemented</sub>
<header>
	<button name="byweek">By Week</button>
	<button name="bymonth">By Month</button>
	<marquee direction="right">Loading</marquee
></header>

<section>
	<div class="compareItem" id="template" style="display: none;">
		<h3 name="title">Title</h3>
		<canvas width="280px" height="150px" name="pie"></canvas>
		<div name="itemcontainer">
			<button>Show Items</button>
			<ul name="items" style="display: none">
			</ul>
		</div>
	</div>
	<div class="compareItem compareWeek" id="templateWeek" style="display: none">
		<h3 name="title">Title</h3>
		<canvas name="pie"></canvas>
		<div name="itemcontainer">
			<button>Show Items</button>
			<ul name="items" style="display: none">
			</ul>
		</div>
	</div>
</section>