<h1><strong>BGI</strong></h1>

<p>Welcome to BGI, the Budget GateWay Interface. This simple software is 
designed to help you keep track of your spending habits, and to provide
helpful metrics to inform you about how you can curb your bad habits and 
develop better ones. </p>
<p>
	<strong>Absolutely None of your information will ever be handed to a 3rd Party</strong>
</p>

<p>Please Login and Enjoy the System.</p>	

<%- partial('shared/login-form') %>