@bgColor: #eee;
html{
	background-color: @bgColor;
	h1{
		padding: 1em;
		background-color: darken(@bgColor, 10%);
		margin: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
	form{
		input{
			border: 2px solid #dadada;
    		border-radius: 7px;
		}
		input:focus{
			outline: none;
    		border-color: #9ecaed;
    		box-shadow: 0 0 10px #9ecaed;
		}
		input[type=submit]{
			background-color: green;
		}
	}
	nav{
		ul{
			list-style-type: none;
			li{
				display: inline-block;	
			}
		}
	}
}

#badlogin, #failed-create-account, #failed-create-lineitem{
	em{
		color: red;
	}
}

#themap, #timelinecanvas{
	/* width: 320px; */
	border: blue;
	width: 100%;
	height: 400px;
}