@bgColor: #A5D959;
html{
	background-color: @bgColor;
	font-size: 18px;
	body{
		margin: 0;
		margin-left: 10px;
		margin-right: 10px;
	}
	h1{
		padding: 1em;
		background-color: darken(@bgColor, 10%);
		margin: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
	form{
		input{
			border: 2px solid #dadada;
    		border-radius: 7px;
		}
		input:focus{
			outline: none;
    		border-color: #9ecaed;
    		box-shadow: 0 0 10px #9ecaed;
		}
		input[type=submit]{
			background-color: green;
		}
		fieldset{
			border: none;
		}
	}
	nav{
		ul{
			list-style-type: none;
			li{
				display: inline-block;	
			}
		}
	}
	table{
		background-color: white;
		border-collapse: collapse;
		tr{
			th,td{
				padding: 0px;
				padding-left: 10px;
				padding-right: 10px;
			}
			th{
				border-bottom-style: double;
				border-bottom-width: 4px;
				border-bottom-color: black;	
				border-collapse: collapse;
			}
		}
		tr:nth-child(even){
			background-color: darken(white,10%);
		}
	}
	canvas:not([id=accountpie]){
		padding: 0;
		outline: solid thin black;
		background-color: cornsilk;
	}
	
}

#badlogin, #failed-create-account, #failed-create-lineitem{
	em{
		color: red;
	}
}

#themap, #monthcanvas,#daycanvas{
	/* width: 320px; */
	border: blue;
	width: 100%;
	height: 400px;
}

#compare{
	header{
		width: 50%;
		marquee{
			color: blue;		
		}
	}
	.compareItem{
		vertical-align: top;
		display: inline-block;
		width: 300px;
		text-align: center;
		canvas{
			width: 280px;
			height: 150px;
			margin-right: 10px;
			margin-left: 10px;
			background-color: transparent;
			outline: none;
		}
		ul{
			padding: 0;
			padding-bottom: 10px;
			list-style-type: none;
			outline: solid darken(@bgColor, 10%);
			margin-left: 10px;
			margin-right: 10px;
			li:nth-child(even){
				background-color: darken(@bgColor, 10%);
			}
			li{
				span{
					display: inline-block;
				}
				.amount{
					float: right;
				}
			}
		}
	}
	.compareWeek{
		width: 400px;
		canvas{
			width: 380px;
		}
	}
}