<h2>View where you're spending your money</h2>
<p>
	Below you can find a heatmap displaying where your purchases have been. The
	hotter the point, the more money you've spent. Click to view the number itself.
</p>
<div id="map">Loading...</div>