<h2>A history of your accounts</h2>
<p>
	See below for a brief history of your accounts.
</p>
<section name="charts">
	<canvas id="accountpie"></canvas>
	<canvas id="timelinebyday"></canvas>
	<canvas id="monthcanvas"></canvas>
	<canvas id="daycanvas"></canvas>
</section>