<h2>Welcome</h2>
<p>Welcome to your Budgetting Portal</p>

<noscript>
	You must have Javascript Enabled to use this application.
</noscript>

<section name="accounts">
	<!--
		Load Accounts Here. They'll come in the form of
		Name,Balance,Date Updated
	-->
	<h3>Your Accounts</h3>
	<ul name="accounts-list">
	</ul>
</section>

<section name="account-display">
	<h3>---</h3>
	<ol reversed name="lineitems"></ol>
</section>
