@import bgi.forms._
@import bgi.models.pagedata._
@import bgi.models.charts._
@(pageData: DashboardPageData)(implicit flash: Flash)

@* Maybe pass an implicit Option[user] to check if logged in or not *@
@templates.standard("BGI - Login") {
	<h2>Recent Activity</h2>
	<hr>
	@templates.partials.alert()
	<section>
		<!-- Show chart of current spendings -->
		<div name="legend">
			<ul>
				@for(category <- pageData.categories) {
					<li style="color: @Charts.nameToFill(category.name)">@category.name</li>
				}
			</ul>
			@for(pie <- pageData.charts) {
				@views.html.svg.pie(pie)
			}
		</div>
	</section>
	<section>
		<!-- Ledger Header -->
		<h3>Ledger</h3>
		<hr>
	</section>
	<section>
		<!-- Create Line Item Line -->
		<form>
			<input placeholder="0.00" name="amount" required="required" type="text" pattern="[-]?[0-9]+\.[0-9]{2}?" title="please enter a valid dollar amount" />
			<input placeholder="Item Name" maxlength="64" required="required" name="name" type="text" pattern="[^0-9]+" title="You must enter an alphabetical name" />
			<select name="category">
				@for(category <- pageData.categories) {
					<option value="@category.id">@category.name</option>
				}
			</select>
			<input type="submit" value="Add" />
		</form>
	</section>
	<section>
		<!-- Ledger list -->
		
	</section>
}