@import bgi.forms._
@()(implicit flash: Flash)

@* Maybe pass an implicit Option[user] to check if logged in or not *@
@templates.standard("BGI - Login", loggedIn = false ) {
	<h2>Welcome to BGI</h2>
	<hr>
	<section>
		<p>Welcome to BGI, the Budget GateWay Interface. This simple software is designed to help you keep track of your spending habits, and to provide helpful metrics to inform you about how you can curb your bad habits and develop better ones.</p>
	</section>
	@templates.partials.alert()
	<section>
		<form>
			<fieldset>
				<legend>Log In</legend>
				<div>
					<label for="username">Username</label>
					<input name="username" type="text" />
				</div>
				<div>
					<label for="password">Password</label>
					<input name="password" type="password" />
				</div>
				<input type="submit" value="Log In">
			</fieldset>
		</form>
	</section>
	<section>
		@helper.form(action = bgi.controllers.routes.Dashboard.register()) {
			<fieldset>
				<legend>Sign Up</legend>
				<div>
					<label for="username">Username</label>
					<input name="username" type="text" />
				</div>
				<div>
					<label for="password">Password</label>
					<input name="password" type="password" />
				</div>
				<div>
					<label for="signupcode">Sign Up Code</label>
					<input name="signupcode" type="password" /><br>
					<small>Please ask the administrator for this code</small>
				</div>
				<input type="submit" value="Register">
			</fieldset>
		}
	</section>

}