<form action="/bgi/create-account.cgi" method="POST">
	<input placeholder="Account Name" name="accountname" value="" type="text" size="32" maxlength="32"/>
	<input type="submit" value="Create Account" />
</form>