<%- partial('header') %>
<nav>
	<ul>
		<li>
			<a href="/welcome.html">Home</a>
			<a href="/map.html">Map</a>
			<a href="/timeline.html">Timeline</a>
			<a href="/create-account.html">Create New Account</a>
			<a href="/create-lineitem.html">Create Line Item</a>
		</li>
	</ul>
</nav>