<form action="/bgi/login.cgi" method="POST">
	<input placeholder="Username" name="username" value="" type="text" size="32" maxlength="32"/>
	<input placeholder="Password" name="password" value="" type="password" size="32" maxlength="32" />
	<input type="submit" value="Login" />
</form>