<form action="/bgi/login" method="POST">
	<label>Username
		<input name="username" value="" type="text" size="32" maxlength="32"/>
	</label>
	<label>Password
		<input name="password" value="" type="password" size="32" maxlength="32" />
	</label>
	<input type="submit" value="Login" />
</form>